.categories-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.category-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  text-align: center;
  min-width: 30%;
  height: 20em;
  border: 1px solid var(--secondary-color);
  margin: .5em .5em 1em;
  overflow: hidden;

  &:hover{
    cursor: pointer;

    & .background-image{
      transform: scale(1.1);
      transition: all 2s ease;
    }

    & .category-body-container{
      opacity: .6;
      transition: all .5s ease;
    }
  }

  & .background-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 1s ease;
  }

  & .category-body-container{
    position: absolute;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    padding: .3em 2.5em;

    h2{
      font-weight: bolder;
      font-size: 1.7em;
    }

    p{
      font-size: 1.1em;
    }
    
  }

}


/***** NAV BAR *****/

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  height: 4rem;

  & .nav-logo{
    
    & img{
      height: 2.5rem;
    }
  }

  & .nav-links-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;

    & .nav-link{
      color: var(--secondary-color);
      text-transform: uppercase;
      cursor: pointer;

      &:hover{
        opacity: .7;
      }
    }
  }
}

/***** SIGN UP FORM *****/
.authentication-main-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 4em 0 0;

  .authentication-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 1em;
  
    h2{
      margin: 1em 0;
    }

    .buttons-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

}



/***** FORM FIELD *****/

@mixin shrinkLabel {
  top: -1em;
  font-size: .75em;
  color: var(--secondary-color);
}

.form-field-container {
  position: relative;

  .form-input {
    color: var(--third-color);
    font-size: 1em;
    padding: .5em;
    display: block;
    width: calc(100% - 1em);
    border: none;
    border-bottom: 1px solid var(--third-color);
    margin: 3em 0;

    &:focus {
      outline: none;

      & ~ .form-label {
        @include shrinkLabel();
      }

    }
   
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-label {
    text-transform: uppercase;
    color: var(--third-color);
    font-size: 1em;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: .5em;
    top: .6em;
    transition: all 300ms ease;

    &.shrink {
      @include shrinkLabel();
    }
  }
}

/***** BUTTON *****/

.button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: .9em;
  font-weight: bold;
  letter-spacing: .1em;
  width: 50%;
  padding: 1em 2em;
  border: 1px solid var(--primary-color);
  cursor: pointer;

  &:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
  }

  &.inverted{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);

    &:hover{
      background-color: var(--secondary-color);
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
    }
  }

  &.google-sign-in{
    background-color: #4285f4;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);

    &:hover{
      background-color: var(--primary-color);
      color: #4285f4;
      border: 1px solid #4285f4;
    }
  }
}

/***** CATEGORIES CARD *****/

.categories-preview-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;

  & .title{
    cursor: pointer;
  }

  & .categories-preview{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5em;
  }
}

/***** PRODUCT CARD *****/

.products-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5em;
  row-gap: 3em;
}

.product-card-container{
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;

  & .product-image{
    width: 100%;
    height: 90%;
    object-fit: cover;
  }

  & .product-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & .product-name{
      width: 80%;
      line-height: 1.6em;
    }

    & .product-price{
      font-size: 1.2em;

      &::after{
        content: ' SEK';
        font-size: .65em;
      }
    }
  }

  & button{
    display: none;
    position: absolute;
    top: 18rem;
    width: 80%;
    opacity: .8;
  }

  &:hover{
    
    & .product-image{
      opacity: .7;
    }

    & button{
      display: block;
    }
  }
}

/***** SHOPPING ICON *****/

.cart-icon-container{
  position: relative;
  height: 1.5em;
  width: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & .shopping-icon{
    height: 100%;
    object-fit: contain;
  }

  & .item-count{
    position: absolute;
    bottom: .1em;
    font-size: .7em;
    font-weight: bold;
  }
}

/***** SHOPPING CART DROPDOWN *****/

.cart-dropdown-container{
  position: absolute;
  width: 18rem;
  height: 27rem;
  top: 4rem;
  right: 4rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);

  & .cart-items-container{
    width: 88%;
    padding: 0.5em 1em;
    height: 78%;
    overflow-y: scroll;
  }

  & .button {
    width: 80%;
    margin: auto;
  }
}

/***** CART ITEM *****/

.cart-item-container{
  height: 25%;
  display: flex;
  flex-direction: row;
  padding: .5em;
  border-bottom: 1px solid gray;

  & .cart-item-image{
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    padding: 0 .7em 0 0;
  }

  & .cart-item-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;

    & .cart-item-name{
      padding: 0;
      margin: 0;
      font-size: 1.1em;
    }

    & .cart-item-info{
      padding: 0;

      &::after{
        content: ' SEK';
        font-size: .75em;
      }
    }
  }
}

/***** CHECKOUT TABLE *****/

.checkout-container{
  width: 80%;
  margin: 5em auto;
  border-collapse: collapse;

  & td{
    border-bottom: 1px solid var(--secondary-color);
  }


  & .checkout-header{
    font-size: 1.1em;

    & td{
      padding-bottom: 2em;
    }
  }

  & .checkout-body{

    & td{
      padding-top: 1em;
      padding-bottom: 1em;

    }
    
    & .checkout-image{
      width: 10em;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  
    & .checkout-product-name{
      font-size: 1.2em;
      font-weight: bold;
    }

    & .checkout-quantity{
      width: 80%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      & .arrow{
        cursor: pointer;
      }
    }

    & .checkout-remove{
      text-align: center;
      cursor: pointer;
    }

    & .checkout-total{
      border: none;
      font-size: 1.3em;
      font-weight: bold;
      text-align: right;
    }
  }
}
