/***** SIGN UP FORM *****/
.authentication-main-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 4em 0 0;

  .authentication-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 1em;
  
    h2{
      margin: 1em 0;
    }

    .buttons-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

}